body {
	background-color:#FF7F50;
}

header {
	position: relative;
	height: 100px;
	width: 100%;
}

ol {
	list-style-type: circle;
}

.heading {
	border: 2px solid #008080;
	border-radius: 5px;
	position: absolute;
	top: 25px;
	left: 32%;
	width: 36%;
	height: 50px;
	background-color: #E0FFFF;
}

.head-text {
	font-family: "gisha","calibri",sans-serif;
	color: #191970;
	font-weight: bolder;
	font-size: 30px;
	left: 33%;
	top: 9px;
	position: absolute;
}

.shop-image>img {
	display: block;
	position: relative;
	width: 86%;
	border: 2px solid #008080;
	margin-left: 58px;
}

.add-items {
	border: 2px solid #008080;
	width: 86%;
	position: relative;
	margin: 10px 0 30px 58px;
	height: 200px;
	display: block;
}

.left-side {
	position: relative;
	width: 50%;
}