body {
	background-image: url("../images/aisle.jpg");
	/*background-repeat: no-repeat;*/

}

header {
	position: relative;
	height: 100px;
	width: 100%;
}

ol {
	list-style-type: decimal;
	margin: 30px 0 10px 45px;
	position: relative;
}

.heading {
	border: 2px solid #FF7F50;
	border-radius: 5px;
	position: absolute;
	top: 12px;
	left: 42%;
	min-width: 20%;
	min-height: 72%;
	background-color: #E0FFFF;
}

.head-text {
	font-family: "gisha","calibri",sans-serif;
	color: #191970;
	font-weight: bolder;
	font-size: 150%;
	/* left: 18%; */
	top: 20%;
	position: absolute;
	/* min-width: 24%; */
	/* min-height: 20px; */
	text-align: center;
	padding: 0 19% 0% 26%;
}

/*.shop-image>img {
	display: block;
	position: relative;
	width: 86%;
	border: 2px solid #FF7F50;
	border-radius: 5px;
	margin-left: 58px;
}*/

.add-items {
	border: 2px solid #FF7F50;
	background-color: #E0FFFF;
	border-radius: 5px;
	width: 48%;
	position: relative;
	/* margin: 0 0 28px 64px; */
	left: 28%;
	margin-bottom: 20px;
	height: 200px;
	display: block;
}

.upper-page {
	position: relative;
	min-width: 50%;
	/* display: inline-block; */
	margin: auto;
}

.lower-page {
	position: absolute;
	/*display: none;*/
	min-width: 92%;
	/* height: 780px; */
	border: 2px solid #FF7F50;
	background-color: #E0FFFF;
	border-radius: 5px;
	left: 4%;
}

li {
	font-family: "gisha","calibri",sans-serif;
	color: #191970;
	font-weight: bolder;
	padding-bottom: 22px;
	font-size: 18px;
}

.add-textbox {
	display: inline-block;
	position: absolute;
	border: 2px solid #FF7F50;
	background-color: white;
	border-radius: 5px;
	color: gray;
	height: 32px;
	width: 70%;
	top: 40px;
	left: 17%;
	font-family: "gisha","calibri",sans-serif;
	font-size: 28px;
}

.sample-text {
	font-family: "gisha","calibri",sans-serif;
	font-size: 28px;
	position: absolute;
	top: 2px;
	left: 10px;
}

.button-text {
	font-family: "gisha","calibri",sans-serif;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	min-height: 62px;
	width: 40%;
	border: 2px solid #FF7F50;
	border-radius: 5px;
	top: 96px;
	left: 30%;
	color: #FF7F50;
	background-color: #191970;
}

.check-button {
	position: absolute;
	height: 20px;
	width: 20px;
	border: 2px solid #191970;
	border-radius: 5px;
	background-image: url(images/blue-check.png);
	margin: -22px 0 0 80%;
	background-color: white;
}

.list {
height: auto;
}

.delete-button {
	position: absolute;
	height: 20px;
	width: 20px;
	border: 2px solid #191970;
	border-radius: 5px;
	background-image: url(".../images/x.png");
	margin: -22px 0 0 90%;
	background-color: white;
}

img.item-buttons {
  width: 20px;
}

.strikethrough {
	text-decoration: line-through;
}