body {
	background-color:#7FFFD4;
}

header {
	position: relative;
	height: 100px;
	width: 100%;
}

ol {
	list-style-type: circle;
}

.heading {
	border: 2px solid #FF4500;
	border-radius: 5px;
	position: relative;
	top: 25px;
	left: 12%;
	width: 75%;
	height: 50px;
	background-color: #E0FFFF;
}

