body {
	background-color:#FF7F50;
	background-image: url("../images/aisle.jpg");
	background-repeat: no-repeat;

}

header {
	position: relative;
	height: 100px;
	width: 100%;
}

ol {
	list-style-type: decimal;
	margin: 30px 0 10px 45px;
	position: relative;
}

.heading {
	border: 2px solid #FF7F50;
	border-radius: 5px;
	position: absolute;
	top: 25px;
	left: 32%;
	min-width: 36%;
	height: 50px;
	background-color: #E0FFFF;
}

.head-text {
	font-family: "gisha","calibri",sans-serif;
	color: #191970;
	font-weight: bolder;
	font-size: 30px;
	left: 33%;
	top: 9px;
	position: absolute;
	min-width: 220px;
}

.shop-image>img {
	display: block;
	position: relative;
	width: 86%;
	border: 2px solid #FF7F50;
	border-radius: 5px;
	margin-left: 58px;
}

.add-items {
	border: 2px solid #FF7F50;
	background-color: #E0FFFF;
	border-radius: 5px;
	width: 86%;
	position: relative;
	margin: 0 0 28px 58px;
	height: 200px;
	display: block;
}

.left-side {
	position: relative;
	min-width: 50%;
	display:inline-block;
}

.right-side {
	position: absolute;
	display: inline;
	min-width: 47%;
	height: 780px;
	border: 2px solid #FF7F50;
	background-color: #E0FFFF;
	border-radius: 5px;
}

li {
	font-family: "gisha","calibri",sans-serif;
	color: #191970;
	font-weight: bolder;
	padding-bottom: 22px;
	font-size: 18px;
}

.add-textbox {
	display: inline-block;
	position: absolute;
	border: 2px solid #FF7F50;
	background-color: white;
	border-radius: 5px;
	color: gray;
	height: 32px;
	width: 510px;
	top: 40px;
	left: 150px;
	font-family: "gisha","calibri",sans-serif;
	font-size: 28px;
}

.sample-text {
	font-family: "gisha","calibri",sans-serif;
	font-size: 28px;
	position: absolute;
	top: 2px;
	left: 10px;
}

.button-text {
	font-family: "gisha","calibri",sans-serif;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	height: 80px;
	width: 300px;
	border: 2px solid #FF7F50;
	border-radius: 5px;
	top: 96px;
	left: 250px;
	color: #FF7F50;
	background-color: #191970;
}

.check-button {
	position: absolute;
	height: 20px;
	width: 20px;
	border: 2px solid #FF7F50;
	border-radius: 5px;
	background-image: url(images/blue-check.png);
	margin: -22px 0 0 80%;
	background-color: white;
}

.list {
height: auto;
}

.delete-button {
	position: absolute;
	height: 20px;
	width: 20px;
	border: 2px solid #FF7F50;
	border-radius: 5px;
	background-image: url(images/x.png);
	margin: -22px 0 0 90%;
	background-color: white;
}

.item-buttons {
	position: relative;
	height: 18px;
	width: 18px;
	top: 1px;
	left: 1px;
}